<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="container-fluid">
    <div class="row">
        <app-sidebar></app-sidebar>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <div class="col-12 col-md-4 col-lg-2" *ngIf="editFormVisible==false ">
                <input class="form-control form-control-dark" type="text" name="term" [(ngModel)]="term"
                    placeholder="Search" aria-label="Search">
                <br>
            </div>
            <div class="wrapper">

                <div class="container-fluid px-4" *ngIf="addFormVisible">
                    <h1 class="mt-4"> Add Category</h1>
                    <div class="row">
                        <div class="card mb-4">

                            <div class="card-body">

                                <form (ngSubmit)="createcategorie()" method="POST">


                                    <div class="card-body">

                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label>Nom</label>
                                                
                                                <input nomMagasin="text" formControlName="nomCat" name="nomCat"
                                                    [(ngModel)]="categorie.nomCat" class="form-control" />
                                            </div>
                                           
                                          
                                        </div>
                                      
                                   
                                    </div>
                                    <div class="card-footer">
                                        <div class="row float-right">
                                            <div class="col">
                                                <button nomMagasin="reset" class="btn btn-primary  btn-sm m-3"
                                                    data-dismiss="modal" (click)="hideAddForm()">Annuler</button>
                                                <button nomMagasin="submit" class="btn btn-success btn-sm"
                                                    data-dismiss="modal">Enregistrer</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>




                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid px-4" *ngIf="editFormVisible">
                    <h1 class="mt-4"> Edit Category</h1>
                    <div class="row">
                        <div class="card mb-4">

                            <div class="card-body">

                                <form (ngSubmit)="update()" method="POST">


                                    <div class="card-body">

                                        <div class="row">
                                           
                                            <div class="form-group col-lg-6">
                                                <label>name</label>
                                                <input type="text" name="prenom" [(ngModel)]="categorie.nomCat"
                                                    class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label>Rayon</label>
                                               
                                            </div>
                                            
                                        </div>
                                       
                                    </div>
                                    <div class="card-footer">
                                        <div class="row float-right">
                                            <div class="col">
                                                <button type="reset" class="btn btn-primary  btn-sm m-3"
                                                    data-dismiss="modal" (click)="hideEditForm()">Cancel</button>
                                                <button type="submit" class="btn btn-success btn-sm"
                                                    data-dismiss="modal">Update</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>




                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <div class="row">
                        <div class="col col-lg-10">
                            <i class="fas fa-table me-1"></i>
                            Liste des Category
                        </div>
                        <div class="col col-lg-2">
                            <button class="btn btn-primary btn-sm float-right" (click)="showAddForm()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="body" class="active">

                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">


                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                   #
                                                </th>
                                                <th>
                                                    name
                                                </th>
                                              
                                                <th>
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let categorie of categories | filter:term">
                                             
                                                <td>
                                                    {{categorie.idCat}}
                                                </td>
                                                <td>
                                                    {{categorie.nomCat}}
                                                </td>
                                               
                                                <td>
                                                    <button class="mybtn"><img src="assets/edit.png" width="24"
                                                            height="24" (click)="  editcategorie(categorie.id)" /></button>

                                                    <button class="mybtn"><img src="assets/delete.png" width="24"
                                                            (click)=" deletecategorie(categorie)" height="24" /></button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>